body{
    background-color: black;
}
.main{
    margin-left: 5%;
}
.main-heading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5vw;
    position: absolute;
    color: white;
    margin-top: -27%;
    margin-left: 20%;
}
.sub-heading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5vw;
    position: absolute;
    color: white;
    margin-top: -24%;
    margin-left: 20%;
}
.sub-image{
    margin-left: 15%;
    margin-top: 6%;
}
.sub-paragraph{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2vw;
    position: absolute;
    color: white;
    margin-left: 55%;
    margin-top: -15%;
}
.sub-image2{
    margin-left: 55%;
}
.sub-paragraph2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2vw;
    position: absolute;
    color: white;
    margin-left: 18%;
    margin-top: -13%;
}
.sub-image3{
    margin-left: 15%;
    margin-top: 5%;
}
.sub-paragraph3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2vw;
    position: absolute;
    color: white;
    margin-left: 55%;
    margin-top: -14%;   
}
.sub-image4{
    margin-left: 55%;
    margin-top: 5%;
}
.sub-paragraph4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2vw;
    position: absolute;
    color: white;
    margin-top: -14%;
    margin-left: 18%;
}
.button-back button{
    width: 10%;
    height: 10%;
    font-size: 2vw;
    margin-top: 5%;
    margin-left: 45%;
    border-radius: 10px;
}
.button-back button:hover{
    background-color: skyblue;
}
.hotel-name{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2vw;
    position: absolute;
    color: white;
    margin-top: -35%;
    margin-left: 20%;
}
.privacyterms{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4.5vw;
    position: absolute;
    color: white;
    margin-top:-30%;
    margin-left: 20%;
}
.sub-about{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5vw;
    color: white;
    margin-left: 5%;
    margin-top: 5%;
}
.about-website{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5vw;
    color: white;   
    margin-left: 5%;
}