body{
    background-color: black;
}
h1{
    color: white;
    font-size: 3.5vw;
    margin-left: 38%;
}
.hotel-images{
    margin-top: 5%;
}
.particularhotel-image1{
    position: absolute;
    margin-left:1%;
}
.particularhotel-image2{
    position: absolute;
    margin-left: 35%;
}
.particularhotel-image3{
    position: absolute;
    margin-left: 69%;
}
.about-hotel{
    color: white;
    margin-top: 32%;
    font-size: 2vw;
}
.kingbed-image{
    position: absolute;
    margin-left: 15%;
    margin-top: 5%;
}
.kingbed-head{
    position: absolute;
    color: tomato;
    font-size: 3vw;
    margin-left: 25%;
    margin-top: 6%;
}
.kingbed-sub{
    position: absolute;
    color: white;
    font-size: 2vw;
    margin-left: 55%;
    margin-top: 7%;
}
button{
    position: absolute;
    width: 8%;
    height: 5%;
    font-size: 2vw;
    border-radius: 15px;
    margin-left: 65%;
    margin-top: 23%;
}
button:hover{
    background-color: skyblue;
}
.queenbed-image{
    position: absolute;
    margin-left: 15%;
    margin-top: 40%;
}
.queenbed-head{
    position: absolute;
    color: tomato;
    font-size: 3vw;
    margin-top: 42%;
    margin-left: 25%;
}
.queenbed-sub{
    position: absolute;
    color: white;
    font-size: 2vw;
    margin-left: 55%;
    margin-top: 44%;
}
.roombook-button1{
    position: absolute;
    width: 8%;
    height: 5%;
    font-size: 2vw;
    border-radius: 15px;
    margin-left: 65%;
    margin-top: 60%;
}
.Cabanabed-image{
    position: absolute;
    margin-left: 15%;
    margin-top: 75%;
}
.cabanabed-main{
    position: absolute;
    color: tomato;
    font-size: 3vw;
    margin-top: 76%;
    margin-left:25% ;
}
.cabanabed-sub{
    position: absolute;
    color: white;
    font-size: 2vw;
    margin-left: 55%;
    margin-top: 79%;
}
.roombook-button2{
    position: absolute;
    width: 8%;
    height: 5%;
    font-size: 2vw;
    border-radius: 15px;
    margin-left: 65%;
    margin-top: 96%;
}
.hollywoodbed-image{
    position: absolute;
    margin-left: 15%;
    margin-top: 110%;
}
.hollywoodbed-head{
    position: absolute;
    color: tomato;
    font-size: 3vw;
    margin-top: 112%;
    margin-left:22% ;
}
.hollywoodbed-sub{
    position: absolute;
    color: white;
    font-size: 2vw;
    margin-left: 55%;
    margin-top: 115%;
}
.roombook-button3{
    position: absolute;
    width: 8%;
    height: 5%;
    font-size: 2vw;
    border-radius: 15px;
    margin-left: 65%;
    margin-top: 132%;
}
.button-back button{
    width: 10%;
    height: 10%;
    font-size: 2vw;
    margin-top: 142%;
    margin-left: 45%;
    border-radius: 10px;
}