body{
    background-image: url('../Images/himform.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
/* image{
    filter: 20px;
} */
.box{
   filter: blur();
    width: 30%;
    margin-left: 31%;
    border-radius: 20px;
    box-shadow: 0 0 1px 1px;
    color: rgb(253, 253, 255);
    padding-left: 8%;
    font-size: 2vw;
}
input{
    border-radius:30px;
    border-style: outset;
    width: 55%;
    height: 7%;
    outline: none;
    background-color: rgb(250, 248, 248);
    color: rgb(5, 4, 4);
    margin-top:5%;
    text-align: center;
    border-color: black;
    font-size: 2vw;
}
input:hover{
    width: 60%;
    height: 8%;
    box-shadow: 0 0 1px 2px;
} 
#rooms{
    border-radius:30px;
    border-style: outset;
    width: 15%;
    height: 7%;
    outline: none;
    background-color: rgb(250, 248, 248);
    color: black;
    margin-top:5%;
    text-align: center;
    border-color: black;
    font-size: 2vw;
}
#rooms:hover{
    width:20%;
    height:8%;
    box-shadow: 0 0 1px 2px;
}
#adult{
        border-radius:30px;
        border-style: outset;
        width: 15%;
        height: 7%;
        outline: none;
        background-color: rgb(250, 248, 248);
        color: black;
        margin-top:5%;
        text-align: center;
        border-color: black;
        font-size: 2vw;
}
#adult:hover{
    width:20%;
    height:8%;
    box-shadow: 0 0 1px 2px;
}
#children{
    border-radius:30px;
    border-style: outset;
    width: 15%;
    height: 7%;
    outline: none;
    background-color: rgb(250, 248, 248);
    color: black;
    margin-top:5%;
    text-align: center;
    border-color: black;
    font-size: 2vw;
}
#children:hover{
    width:20%;
    height:8%;
    box-shadow: 0 0 1px 2px;
}
#result:hover{
        width:20%;
        height:8%;
        box-shadow: 0 0 1px 2px;
}
#date1{
        border-radius:30px;
        border-style: outset;
        width: 35%;
        height: 7%;
        outline: none;
        background-color: rgb(250, 248, 248);
        color: black;
        margin-top:5%;
        text-align: center;
        border-color: black;
        font-size: 1vw;
}
#date1:hover{
    width:40%;
    height:8%;
    box-shadow: 0 0 1px 2px;
}
#date2{
    border-radius:30px;
    border-style: outset;
    width: 35%;
    height: 7%;
    outline: none;
    background-color: rgb(250, 248, 248);
    color: black;
    margin-top:5%;
    text-align: center;
    border-color: black;
    font-size: 1vw;
}
#date2:hover{
    width:40%;
    height:8%;
    box-shadow: 0 0 1px 2px;
}
#submit{
    border-radius: 10px;
    width: 30%;
    height: 5%;
    font-size: 1.5vw;
    margin-left: 20%;
}
#submit:hover{
    background-color: skyblue;
}


