body{
    background-color: black;
}
 .blue{
     position: absolute;
     background-color: skyblue;
     width: 90%;
     height: 70%;
     margin-left: 5%;
 }
 .white{
     position: absolute;
     background-color: white;
     width: 40%;
     margin-left: 60%;
     height: 100%;
 }
 .font{
     position: absolute;
     color: white;
     font-size: 4vw;
     margin-left: 8%;
     margin-top: 8%;
 }
 .white img{
     position: absolute;
     margin-top: 25%;
     margin-left: 25%;
 }
 .white p{
     position: absolute;
     font-size: 3vw;
     margin-left: 15%;
 }
 .img1{
     margin-top: 40%;
     margin-left: 5%;
 }
 .img2{
   margin-left: 5%;
 }
 .img3{
    margin-left: 5%;
  }
  .img4{
    margin-left: 5%;
  }
  .img5{
    margin-left: 5%;
  }
  .font2{
      position: absolute;
      color: white;
      font-size: 3vw;
      margin-top: -25%;
      margin-left: 25%;
  }
  .button button{
      position: absolute;
      margin-left: 75%;
      margin-top: -10%;
     font-size: 1vw;
  }
  .font1{
      position: absolute;
      margin-left: 59%;
      color: white;
      margin-top: -25%;
      font-size: 2vw;
  }
  .back button{
     width: 10%;
     height: 7vh;
     font-size: 1.5vw;
     margin-left: 50%;
  }
  .back button:hover{
      background-color: skyblue;
  }