body{
    background-color: black;
}
 .blue{
     position: absolute;
     background-color: skyblue;
     width: 90%;
     height: 70%;
     margin-left: 5%;
 }
 .white{
     position: absolute;
     background-color: white;
     width: 40%;
     margin-left: 60%;
     height: 100%;
 }
 .font{
     position: absolute;
     color: white;
     font-size: 4vw;
     margin-left: 8%;
     margin-top: 8%;
 }
 .white img{
     position: absolute;
     margin-top: 25%;
     margin-left: 25%;
 }
 .white p{
     position: absolute;
     font-size: 3vw;
     margin-left: 15%;
 }
 .Trident {
    margin-top: 40%;
    margin-left: 5%;
 }
.taj img{
    position: absolute;
    margin-left: 5%;
}
.roseate img{
    position: absolute;
    margin-top: 5%;
    margin-left: 5%;
}
.ibis img{
    position: absolute;
    margin-top: 150%;
    margin-left: 5%;
}
.lalit img{
    position: absolute;
    margin-top: 180%;
    margin-left: 5%;
}
.button{
   
    margin-left: 50%;
    
}