body{
    background-color: black;
}
.box{
    width: 90%;
    height: 75%;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 5%;
    position: absolute;

   
}
.first{
    text-decoration: none;
    font-size: 1.5vw;
    margin-left: 77%;
    color: white;
    position: absolute;
    
  
}
.first:hover{
    text-decoration:underline;
    text-decoration-color: tomato;
}
.second{
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    margin-left: 84%;
    position: absolute;
 
  
}
.second:hover{
    text-decoration:underline;
    text-decoration-color: rgb(248, 4, 4);
}
.third{
   text-decoration: none;
   font-size: 1.5vw;
   color: white;
   position: absolute;
   margin-left: 68%;


}
 .third:hover{
   text-decoration:underline;
    text-decoration-color: rgb(248, 4, 4);
}
.fourth{
   text-decoration: none;
   font-size: 1.5vw;
   color: white;
   margin-left: 59%;
   position: absolute;


}
 .fourth:hover{
   text-decoration:underline;
    text-decoration-color: rgb(248, 4, 4);
}
 .box2 button{
   width: 5%;
   height: 5%;
   font-size: 1.5vw;
   border-radius: 5px;
   box-shadow: 0 0 3px 6px;
   margin-top: 23%;
   position: absolute;
   margin-left: 50%;

}
.box2 button:hover{
     background-color: rgb(167, 157, 157);
}
#category{
   width: 15%;
   height: 5%;
   font-size: 1.5vw;
   margin-top: 23%;
   margin-left: 33%;
   box-shadow: 0 0 3px 6px;
   position: absolute;

}
.font{
   font-size: 1.5vw;
   color: white;
   margin-left: 18%;
   margin-top: 26%;
   position: absolute;
}
.font1{
   font-size: 1.5vw;
   color: white;
   margin-top: 28%;
   margin-left: 35%;
   position: absolute;
}
.hotel1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4vw;
    color: white;
    margin-top: 7%;
    margin-left: 23%;
    position: absolute;
}
.hotel{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4vw;
    color: white;
    margin-top: 13%;
    margin-left: 32%;
    position: absolute;
}
.sub{
    font-size: 1.3vw;
    color:white;
    margin-top: 18%;
    margin-left: 23%;
    position: absolute;
}
.box1{
    width:90%;
    height: 50%;
    background-color: black;
    margin-left: 5%;
}
.hotel2{
    font-family: fantasy;
    font-size: 4.5vw;
    color: white;
    margin-left: 17%; 
    position: absolute;
    margin-top: 40%;
  
}
.image1 img{
     position: absolute;
     margin-left: 13%;
     margin-top: 45%;

}
.image1 p{
    color: white;
    font-size: 1.3vw;
    margin-top: 52%;
    margin-left: 13%;
    position: absolute;
}
.image2 img{
    margin-left:33% ;
    margin-top: 45%;
    position: absolute;
}
.image2 p{

    color: white;
    font-size: 1.3vw;
    margin-top: 52%;
    margin-left: 33%;
    position: absolute;
}
.image3 img{
    margin-left: 53%;
    position: absolute;
    margin-top: 45%;
}
.image3 p{
  
    color: white;
    font-size: 1.3vw;
    margin-top: 52%;
    margin-left:53%;
    position: absolute;
}
.image4 img{
    margin-left: 73%;
    position: absolute;
    margin-top: 45%;
}
.image4 p{
  
    color: white;
    font-size: 1.3vw;
    margin-left:73%;
    position: absolute;
    margin-top: 52%;
}
.bottom{
    width:90%;
    height: 70vh;
    background-color: rgb(196, 226, 238);
    margin-left: 5%;
   margin-top: 70%;
}
.bottom h1{
    font-size: 4vw;
    padding-top:4%;
    padding-left: 38%;
}
.para1{
    font-family: cursive;
    font-size: 1.8vw;
    padding-left: 15%;
    position: absolute;
}
.para2{

    font-family: cursive;
    font-size: 1.8vw;
    padding-left: 38%;
  position: absolute;
}
.para3{

    font-family: cursive;
    font-size: 1.8vw;
    padding-left: 70%;
   padding-top: 2%;
}
.mostbottom{
    width: 90%;
    margin-left: 5%;
    background-color: black;
}
.mostbottom h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3vw;
    color: white;
    padding-left: 5%;
}
.mostbottom p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
    color: white;
    padding-left: 5%;
}
.link1{
   text-decoration: none;
   font-size: 1.5vw;
   color: white;
   padding-left: 10%;
}
.link1:hover{
    color: red;
}
.link2{
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    padding-left: 20%;
 }
 .link2:hover{
     color: red;
 }
 .link3{
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    padding-left: 20%;
 }
 .link3:hover{
    color: red;
}
.link4{
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    padding-left: 20%;
 }
 .link4:hover{
    color: red;
}
.link5{
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    padding-left: 10%;
 }
 .link5:hover{
    color: red;
 }
 .link6{
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    padding-left: 13.7%;
 }
 .link6:hover{
    color: red;
 }
 .link7{
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    padding-left: 18%;
 }
 .link7:hover{
    color: red;
 }
 .link8{
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    padding-left: 17%;
 }
 .link8:hover{
    color: red;
 }
 .link9{
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    padding-left: 10%;
 }
 .link9:hover{
    color: red;
 }
 .link10{
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    padding-left: 17%;
 }
 .link10:hover{
    color: red;
 }
 .link11{
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    padding-left: 18%;
 }
 .link11:hover{
    color: red;
 }
 .link12{
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    padding-left: 17%;
 }
 .link12:hover{
    color: red;
 }
 .link13{
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    padding-left: 10%;
 }
 .link13:hover{
    color: red;
 }
 .link14{
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    padding-left: 21%;
 }
 .link14:hover{
    color: red;
 }
 .link15{
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    padding-left: 17%;
 }
 .link15:hover{
    color: red;
 }
 .link16{
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    padding-left: 17%;
 }
 .link16:hover{
    color: red;
 }
 .link17{
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    padding-left: 10%;
 }
 .link17:hover{
    color: red;
 }
 .link18{
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    padding-left: 18%;
 }
 .link18:hover{
    color: red;
 }
 .link19{
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    padding-left: 18%;
 }
 .link19:hover{
    color: red;
 }
 .link20{
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    padding-left: 19%;
 }
 .link20:hover{
    color: red;
 }
 .topmostbottom{
     width: 90%;
     height: 70%;
     margin-left: 5%;
     background-color: white;
     margin-bottom: 3%;
     position: absolute;
 }
 .most{
     width:60%;
    height: 70vh;
     background-color:rgb(196, 226, 238);
     margin-top: -34.5%;
 }
 .topmostbottom a{
    margin-left: 70%;
    padding-top: 10%;
    font-size: 2vw;
    text-decoration: none;
    color: gray;
 }
 .topmostbottom a:hover{
    color: black;
 }
 .most p{
    color: rgb(240, 10, 10);
    font-size: 6vw;
    margin-left: 10%;
    padding-top: 10%;
 }
#logo{
   position: absolute;
   margin-left: 5%;
}
.sign button{
   position: absolute;
   width:15%;
   background-color: rgb(224, 181, 115);
   margin-left: 75%;
   margin-top: 33%;
}
.sixth{
   text-decoration: none;
   color: black;
}
#logout{
   position: absolute;
   width: 10%;
   color:black;
   margin-left: 78%;
   margin-top: 0%;
   display: none;
}